:root {
    --color1: #303841;
    --color2: #3A4750;
    --color3: #EA9215;
    --color4: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: var(--color4);
}

h1 {
    text-align: center;
    color: var(--color3);
}

hr {
    border-color: var(--color3);
    margin: 10px;
}

body {
    background-color: var(--color2);
}

#main {
    background-color: var(--color1);
    border: 5px solid var(--color3);
    width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    padding-left: 50px;
    border-radius: 8px;
}

#main ul {
    padding-bottom: 20px;
    list-style: none;
}

p {
    font-size: 1.5rem;
}

